[Unit]
Description=Flask CRUD serivce
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /app/crud.py
Restart=always
Environment={{ ENV_SECRET_KEY }}
Environment={{ ENV_PASS_DB }}
Environment={{ ENV_POSTGRES_IP }}
Environment={{ ENV_ANAME }}

[Install]
WantedBy=multi-user.target