# TYPE DATABASE USER ADRESS METHOD
# "trust", "reject", "md5", "password", "scram-sha-256",
# "hss", "sspi", "ident", "peer", "pam", "ldap", "radius", "cert"

local   all all peer
host    all all {{ app01_ip }}/32    md5
host    all all {{ app02_ip }}/32    md5
host    all all 127.0.0.1/32    scram-sha-256
host    all all ::1/128 scram-sha-256