worker_processes 1;

events { worker_connections 1024; }
http {
  
  upstream backend {
    server {{ app01_ip }}:5000;
    server {{ app02_ip }}:5000;
  }

  server {
    listen 80;
    server_name 0.0.0.0;
    charset UTF-8;
    root /usr;
    include /etc/nginx/mime.types;

    location / {
        proxy_pass http://backend;
    }
  }
}